{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourcegroups/ps9384?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384\",\r\n  \"name\": \"ps9384\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps6970' under resource group 'ps9384' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"ce8b0c33-ac50-4efb-980a-f52f96fb8e81\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6970\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970\",\r\n  \"etag\": \"W/\\\"ce8b0c33-ac50-4efb-980a-f52f96fb8e81\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6c022562-a72d-44c0-aff5-1fd59ba521ad\",\r\n    \"ipAddress\": \"20.69.17.182\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1194\",\r\n      \"fqdn\": \"ps1194.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1194\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/dcb9a632-3e19-41ab-8b05-a8a37454a1ed?api-version=2025-01-01&t=638977635260840823&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/dcb9a632-3e19-41ab-8b05-a8a37454a1ed?api-version=2025-01-01&t=638977635260840823&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps6996' under resource group 'ps9384' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6996\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996\",\r\n  \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d0f6ce90-b94b-493a-91b1-155cd5a7286a\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps6536\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/frontendIPConfigurations/ps6536\",\r\n        \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/loadBalancingRules/ps3950\"\r\n            }\r\n          ],\r\n          \"inboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/inboundNatRules/ps5790\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps6515\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/backendAddressPools/ps6515\",\r\n        \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": [],\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/loadBalancingRules/ps3950\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps3950\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/loadBalancingRules/ps3950\",\r\n        \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/loadBalancingRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/frontendIPConfigurations/ps6536\"\r\n          },\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"loadDistribution\": \"Default\",\r\n          \"disableOutboundSnat\": false,\r\n          \"disableConnectionTracking\": false,\r\n          \"enableConnectionTracking\": false,\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/backendAddressPools/ps6515\"\r\n          },\r\n          \"backendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/backendAddressPools/ps6515\"\r\n            }\r\n          ],\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/probes/ps1167\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps1167\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/probes/ps1167\",\r\n        \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"port\": 80,\r\n          \"intervalInSeconds\": 15,\r\n          \"numberOfProbes\": 2,\r\n          \"probeThreshold\": 1,\r\n          \"noHealthyBackendsBehavior\": \"AllProbedUp\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/loadBalancingRules/ps3950\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/probes\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"ps5790\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/inboundNatRules/ps5790\",\r\n        \"etag\": \"W/\\\"bd4a168d-29cf-4be0-96f1-d8e0d91b2b5d\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/frontendIPConfigurations/ps6536\"\r\n          },\r\n          \"frontendPort\": 3389,\r\n          \"backendPort\": 3389,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false\r\n        }\r\n      }\r\n    ],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps6536\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"zones\": [],\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/publicIPAddresses/ps6970\",\r\n            \"tags\": {}\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/FrontendIpConfigurations/ps6536\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps6515\",\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996/BackendAddressPools/ps6515\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps3950\",\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGr[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers/ps6996?api-version=2025-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/50942b1c-b582-47b6-846f-0b1a7247c27f?api-version=2025-01-01&t=638977635604815055&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/50942b1c-b582-47b6-846f-0b1a7247c27f?api-version=2025-01-01&t=638977635604502204&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/50942b1c-b582-47b6-846f-0b1a7247c27f?api-version=2025-01-01&t=638977635604815055&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps9384/providers/Microsoft.Network/loadBalancers?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkzODQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977635755999376&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkzODQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977635919491659&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDc0ODE0WhcNMjYwNDE5MDc0ODE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkzODQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977636082189491&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkzODQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977636244337617&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDc0ODE0WhcNMjYwNDE5MDc0ODE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
[...]
