{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourcegroups/ps812?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812\",\r\n  \"name\": \"ps812\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps859' under resource group 'ps812' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"008c9080-7c38-4cda-ac4d-3b3ed0058e83\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps859\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859\",\r\n  \"etag\": \"W/\\\"008c9080-7c38-4cda-ac4d-3b3ed0058e83\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7322805d-04ee-4e02-952c-09646aaf68c3\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6310\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859/subnets/ps6310\",\r\n        \"etag\": \"W/\\\"008c9080-7c38-4cda-ac4d-3b3ed0058e83\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6310\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/5f5b4e4e-38c6-4645-abee-4cd6b73edeec?api-version=2025-01-01&t=638977662881150614&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/5f5b4e4e-38c6-4645-abee-4cd6b73edeec?api-version=2025-01-01&t=638977662881150614&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps349' under resource group 'ps812' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"fee139ef-ce66-4658-888c-ea65439adbdc\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps349\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349\",\r\n  \"etag\": \"W/\\\"fee139ef-ce66-4658-888c-ea65439adbdc\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"99b52fe4-f303-4906-af6c-f26eff8a8b2e\",\r\n    \"frontendIPConfigurations\": [],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps4702\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": [],\r\n              \"ipamPoolPrefixAllocations\": []\r\n            },\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859/subnets/ps6310\"\r\n          },\r\n          \"privateIPAllocationMethod\": \"Dynamic\"\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/FrontendIpConfigurations/ps4702\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps2427\",\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/BackendAddressPools/ps2427\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps7313\",\r\n        \"properties\": {\r\n          \"loadDistribution\": \"SourceIP\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/FrontendIpConfigurations/ps4702\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/BackendAddressPools/ps2427\"\r\n          },\r\n          \"backendAddressPools\": [],\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/Probes/ps7513\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPort\": 82,\r\n          \"backendPort\": 83,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"enableFloatingIP\": false,\r\n          \"enableTcpReset\": false,\r\n          \"disableOutboundSnat\": false,\r\n          \"enableConnectionTracking\": false\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/LoadBalancingRules/ps7313\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps7513\",\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"port\": 2000,\r\n          \"intervalInSeconds\": 60,\r\n          \"numberOfProbes\": 3\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/Probes/ps7513\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"ps930\",\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/FrontendIpCo[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps4702\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": [],\r\n              \"ipamPoolPrefixAllocations\": []\r\n            },\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/virtualNetworks/ps859/subnets/ps6310\"\r\n          },\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349/frontendIPConfigurations/ps4702\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps2427\",\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f221[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": [],\r\n    \"outboundRules\": []\r\n  },\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349\",\r\n  \"location\": \"westcentralus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"DeletingAllIpConfigsInLoadbalancerNotSupported\",\r\n    \"message\": \"Deleting all frontendIPConfigs from load balancer /subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349 is not supported.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 400
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/c8e2b0d1-53ee-4610-811a-b181d60a98f2?api-version=2025-01-01&t=638977662996715595&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps812/providers/Microsoft.Network/loadBalancers/ps349?api-version=2025-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/63954ace-fb83-4fab-88ed-a2c2241dfd09?api-version=2025-01-01&t=638977663147281146&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/63954ace-fb83-4fab-88ed-a2c2241dfd09?api-version=2025-01-01&t=638977663147281146&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/63954ace-fb83-4fab-88ed-a2c2241dfd09?api-version=2025-01-01&t=638977663147281146&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/loadBalancers?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "aabe1ff0-6768-42dc-b534-69055df52a3d",
          "60e52051-9a49-40b5-b85b-7c019b0d5ad6",
          "02c83b23-0241-4d3a-9ff6-24076ff6b090",
          "da3c590a-0769-4146-abc6-d587673c787d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"gateway-internal-b898e0f1b4c04240b65cda683b2e55e6\",\r\n      \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/NetworkTrafficAnalytics-BVT/providers/Microsoft.Network/loadBalancers/gateway-internal-b898e0f1b4c04240b65cda683b2e55e6\",\r\n      \"etag\": \"W/\\\"13c880dd-f043-43bb-a8a3-e6464745e64a\\\"\",\r\n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {\r\n        \"SkipASMAzSecPack\": \"True\",\r\n        \"IsFirstParty\": \"True\",\r\n        \"ms.inv.v0.backedby.origin.tenantid\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"ms.inv.v0.backedby.origin.sourcearmid.0\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/NetworkTrafficAnalytics-BVT/providers/Microsoft.HDInsight/clusters/nta-1-primary-hdsparkcluster-v5-bvt1\",\r\n        \"ms.inv.v0.security.ownerrole\": \"None\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"21fb47e3-7ae4-45f9-baff-6d0ef65cd6e7\",\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"LBFE\",\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/NetworkTrafficAnalytics-BVT/providers/Microsoft.Network/loadBalancers/gateway-internal-b898e0f1b4c04240b65cda683b2e55e6/frontendIPConfigurations/L[...]
