{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourcegroups/ps7233?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233\",\r\n  \"name\": \"ps7233\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps1289' under resource group 'ps7233' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"bfd9accf-6235-47ba-aabc-916b907da304\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1289\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289\",\r\n  \"etag\": \"W/\\\"bfd9accf-6235-47ba-aabc-916b907da304\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9b86bd11-5bd1-42fd-8932-d442008451ad\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8172\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289/subnets/ps8172\",\r\n        \"etag\": \"W/\\\"bfd9accf-6235-47ba-aabc-916b907da304\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"ps2687\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289/subnets/ps2687\",\r\n        \"etag\": \"W/\\\"bfd9accf-6235-47ba-aabc-916b907da304\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8172\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps2687\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/3498d8a7-a773-4e93-afa6-b155929cf1dc?api-version=2025-01-01&t=638977637444737757&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/3498d8a7-a773-4e93-afa6-b155929cf1dc?api-version=2025-01-01&t=638977637444737757&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps8368' under resource group 'ps7233' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"4634fd55-d497-4ee4-8db7-8a580721fd16\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8368\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368\",\r\n  \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"93c9c8a0-9495-4233-87b6-4f008f478f5e\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3733\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/frontendIPConfigurations/ps3733\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289/subnets/ps8172\"\r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/inboundNatRules/ps8672\"\r\n            }\r\n          ],\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps1881\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/frontendIPConfigurations/ps1881\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/virtualNetworks/ps1289/subnets/ps2687\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/loadBalancingRules/ps1377\"\r\n            }\r\n          ],\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps7237\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/backendAddressPools/ps7237\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": [],\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/loadBalancingRules/ps1377\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps1377\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/loadBalancingRules/ps1377\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/loadBalancingRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/frontendIPConfigurations/ps1881\"\r\n          },\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"loadDistribution\": \"SourceIP\",\r\n          \"disableOutboundSnat\": false,\r\n          \"disableConnectionTracking\": false,\r\n          \"enableConnectionTracking\": false,\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/backendAddressPools/ps7237\"\r\n          },\r\n          \"backendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/backendAddressPools/ps7237\"\r\n            }\r\n          ],\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/probes/ps2016\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps2016\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/probes/ps2016\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Http\",\r\n          \"port\": 80,\r\n          \"requestPath\": \"healthcheck.aspx\",\r\n          \"intervalInSeconds\": 15,\r\n          \"numberOfProbes\": 2,\r\n          \"probeThreshold\": 1,\r\n          \"noHealthyBackendsBehavior\": \"AllProbedDown\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/loadBalancingRules/ps1377\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/probes\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"ps8672\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/inboundNatRules/ps8672\",\r\n        \"etag\": \"W/\\\"4634fd55-d497-4ee4-8db7-8a580721fd16\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368/frontendIPConfigurations/ps3733\"\r\n          },\r\n          \"frontendPort\": 3389,\r\n          \"backendPort\": 3389,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false\r\n        }\r\n      }\r\n    ],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3733\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": [],\r\n              \"ipamPoolPrefixAllocations\": []\r\n            },\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/5745c8f7-7ab7-4aa3-a155-d0a0c6d68715?api-version=2025-01-01&t=638977637515014362&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/4d586c39-e3ca-4c62-9360-947bf3932239?api-version=2025-01-01&t=638977637710126595&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/88ac56f2-3c9c-4fe2-8440-c09fcf8b32cc?api-version=2025-01-01&t=638977637842526273&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers/ps8368?api-version=2025-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/47d5ad20-7d66-486d-8a78-ff189b9e49c2?api-version=2025-01-01&t=638977638003257750&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/47d5ad20-7d66-486d-8a78-ff189b9e49c2?api-version=2025-01-01&t=638977638003101535&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/47d5ad20-7d66-486d-8a78-ff189b9e49c2?api-version=2025-01-01&t=638977638003257750&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps7233/providers/Microsoft.Network/loadBalancers?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcyMzMtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977638451765463&c=MIIHhzCCBm-gAwIBAgITfAlUi7iAnbsbxEA4ngAACVSLuDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE3MDAxMzUyWhcNMjYwNDE1MDAxMzUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcyMzMtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977638616097228&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcyMzMtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977638772037063&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcyMzMtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977638934509218&c=MIIIrzCCBpegAwIBAgITUQFCmjDFW2ad-G6vagABAUKaMDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIzMTMyODI2WhcNMjYwNDIxMTMyODI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
[...]
