{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourcegroups/ps5307?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307\",\r\n  \"name\": \"ps5307\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps4298' under resource group 'ps5307' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"82ad287d-916f-425b-a411-3e43dbacf0ab\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4298\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298\",\r\n  \"etag\": \"W/\\\"82ad287d-916f-425b-a411-3e43dbacf0ab\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c0d63a74-c43f-47be-a3b9-e0ba2cfba929\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps4176\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298/subnets/ps4176\",\r\n        \"etag\": \"W/\\\"82ad287d-916f-425b-a411-3e43dbacf0ab\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps4176\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/97e3f3b6-41fd-420f-aac0-5758a142bcee?api-version=2025-01-01&t=638977658971375420&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/97e3f3b6-41fd-420f-aac0-5758a142bcee?api-version=2025-01-01&t=638977658971375420&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps7099' under resource group 'ps5307' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"3cd23468-852c-41ab-8a62-377460125d06\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7099\",\r\n  \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099\",\r\n  \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a8d2759e-26f9-4d4f-9b75-a5d88976302f\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps4724\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/frontendIPConfigurations/ps4724\",\r\n        \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298/subnets/ps4176\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/loadBalancingRules/ps2292\"\r\n            }\r\n          ],\r\n          \"inboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/inboundNatRules/ps6382\"\r\n            }\r\n          ],\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps5890\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/backendAddressPools/ps5890\",\r\n        \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": [],\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/loadBalancingRules/ps2292\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps2292\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/loadBalancingRules/ps2292\",\r\n        \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/loadBalancingRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/frontendIPConfigurations/ps4724\"\r\n          },\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"loadDistribution\": \"SourceIP\",\r\n          \"disableOutboundSnat\": true,\r\n          \"disableConnectionTracking\": false,\r\n          \"enableConnectionTracking\": false,\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/backendAddressPools/ps5890\"\r\n          },\r\n          \"backendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/backendAddressPools/ps5890\"\r\n            }\r\n          ],\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/probes/ps4629\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps4629\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/probes/ps4629\",\r\n        \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Http\",\r\n          \"port\": 80,\r\n          \"requestPath\": \"healthcheck.aspx\",\r\n          \"intervalInSeconds\": 15,\r\n          \"numberOfProbes\": 2,\r\n          \"probeThreshold\": 1,\r\n          \"noHealthyBackendsBehavior\": \"AllProbedDown\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/loadBalancingRules/ps2292\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/probes\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"ps6382\",\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/inboundNatRules/ps6382\",\r\n        \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/frontendIPConfigurations/ps4724\"\r\n          },\r\n          \"frontendPort\": 3389,\r\n          \"backendPort\": 3389,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false\r\n        }\r\n      }\r\n    ],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099?api-version=2025-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps4724\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": [],\r\n              \"ipamPoolPrefixAllocations\": []\r\n            },\r\n            \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/virtualNetworks/ps4298/subnets/ps4176\"\r\n          },\r\n          \"privateIPAllocationMethod\": \"Dynamic\"\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/FrontendIpConfigurations/ps4724\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps5890\",\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099/BackendAddressPools/ps5890\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps2292\",\r\n        \"properties\": {\r\n          \"loadDistribution\": \"SourceIP\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscription[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/005b7abb-b1bc-4640-b41c-362bd8dbf945?api-version=2025-01-01&t=638977659032429155&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "b5f8ed00-b97d-4b57-833a-c386f4f39bc8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps7099\",\r\n      \"id\": \"/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099\",\r\n      \"etag\": \"W/\\\"3cd23468-852c-41ab-8a62-377460125d06\\\"\",\r\n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"a8d2759e-26f9-4d4f-9b75-a5d88976302f[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/resourceGroups/ps5307/providers/Microsoft.Network/loadBalancers/ps7099?api-version=2025-01-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/2b00fdbc-4ccd-4609-bde6-a1f46ed58bf1?api-version=2025-01-01&t=638977659103738125&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aW[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operations/2b00fdbc-4ccd-4609-bde6-a1f46ed58bf1?api-version=2025-01-01&t=638977659103738125&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/locations/westcentralus/operationResults/2b00fdbc-4ccd-4609-bde6-a1f46ed58bf1?api-version=2025-01-01&t=638977659103738125&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ[...]
[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUzMDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977659259168363&c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1WhcNMjYwNDIxMTQ0NzI1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUzMDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977659423545761&c=MIIIrzCCBpegAwIBAgITUQE8hit6gFkSBiE8_QABATyGKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIwMDQ1MTQ0WhcNMjYwNDE4MDQ1MTQ0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUzMDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977659576568162&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUzMDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01&t=638977659739196437&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDc0ODE0WhcNMjYwNDE5MDc0ODE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
[...]
