{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6620eab9-89c6-481d-a807-daaa7f22127f/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2025-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"1-IX.EU\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\": [\r\n          \"Amsterdam\",\r\n          \"Frankfurt2\",\r\n          \"Madrid2\",\r\n          \"Paris2\",\r\n          \"Warsaw\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\": \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n          },\r\n          {\r\n            \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\": 100\r\n          },\r\n          {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\n          },\r\n          {\r\n            \"offerName[...]
